:root{
  --text: #ffffff;
  --background: #121517;
  --primary: #6408f8;
  --secondary: #3fabc0;
  --accent: #1bca8d;

}
canvas{
  position:fixed;
  top: 0;
  left: 0;
}

.leftradius{
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
}
.rightradius{
  border-top-right-radius:1vh;
  border-bottom-right-radius:1vh;
}
#navbar{
  width: 8vw;
  height:4.4vh;
  
  background-color:rgba(50, 50, 50, 0.5);
  z-index: 5;
  position:fixed;
  top: 88vh;
  border-radius: 1vh;
  display:flex;
  gap: .1vw;
  justify-content: center;
}

#navbar > div{
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0 auto 0 auto;
  width: 4vw;
  height: 4.4vh;
  display:inline-block;
  font-size: 5px;
}

h1{
  font-family:"Jetbrains Mono", sans-serif;
}